$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 Hotel: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 Bar: #69BB7B,
 Restaurants: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule-page {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}


.map-page ion-content {
  background: rgb(229, 227, 223);
}

.map-page #map {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in
}

.map-page #map.show-map {
  opacity: 1;
}
